.estadisticas {
  margin-bottom: 10rem;
}

.estadisticas .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.card img {
  width: 2.5rem;
}

.estadisticas_heading {
  font-size: 5rem;
  font-weight: bold;
  color: var(--Very_Dark_Cyan);
}

.card p {
  text-align: center;
  font-size: 1.3rem;
  color: gray;
}