header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 7vh;
  margin: 0 auto;
}

header img {
  width: 10rem;
}

.boton-blanco {
  background-color: white;
  border: 1px solid var(--Light_Pink);
  color: var(--Light_Pink);
  width: 7rem;
  height: 4vh;
}