header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 7vh;
  margin: 0 auto;
  padding: 3rem 1rem;
}
header img{
  width: 7rem;
}
.boton-blanco {
  background-color: white;
  border: 1px solid var(--Pink);
  color: var(--Pink);
  padding: 0.5rem 1rem;
}