/* CSS Globales */

/* fuente de letra Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,400&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* fuente de letra Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
/* font-family: 'Open Sans', sans-serif; */

:root {
  /* Colores Primarios */
  --Pink: hsl(322, 100%, 66%);
  --Light_Pink: hsl(321, 100%, 78%);
  --Light_Red: hsl(0, 100%, 63%);

  /* Colores Neutral */
  --Very_Dark_Cyan: hsl(192, 100%, 9%);
  --Very_Pale_Blue: hsl(207, 100%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.boton {
  border-radius: 25px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.image img {
  width: 100%;
}

/* CSS Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 7vh;
  margin: 0 auto;
}

header img {
  width: 40%;
}

.boton-blanco {
  background-color: white;
  border: 1px solid var(--Light_Pink);
  color: var(--Light_Pink);
  width: 30%;
  height: 4vh;
}

/* Fin CSS Header */


/* CSS Footer */

footer {
  background-color: var(--Very_Dark_Cyan);
  color: white;
}

/* Fin CSS Footer */