/* CSS Globales */

/* fuente de letra Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* fuente de letra Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
/* font-family: 'Open Sans', sans-serif; */

:root {
  /* Colores Primarios */
  --Pink: hsl(322, 100%, 66%);
  --Light_Pink: hsl(321, 100%, 78%);
  --Light_Red: hsl(0, 100%, 63%);

  /* Colores Neutral */
  --Very_Dark_Cyan: hsl(192, 100%, 9%);
  --Very_Pale_Blue: hsl(207, 100%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.boton {
  border-radius: 25px;
  padding-block: 1rem;
  padding-inline: min(8vw, 3rem);
  background-color: var(--Pink);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
}


.container {
  width: 90%;
  margin: 0 auto;
}

.image img {
  width: 100%;
}
