/* CSS Globales */

/* fuente de letra Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,400&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* fuente de letra Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
/* font-family: 'Open Sans', sans-serif; */

:root {
  /* Colores Primarios */
  --Pink: hsl(322, 100%, 66%);
  --Light_Pink: hsl(321, 100%, 78%);
  --Light_Red: hsl(0, 100%, 63%);

  /* Colores Neutral */
  --Very_Dark_Cyan: hsl(192, 100%, 9%);
  --Very_Pale_Blue: hsl(207, 100%, 98%);
  --Hover-social: hsl(204, 95%, 59%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.5;
  color: var(--Very_Dark_Cyan)
}

h1, h2{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 1.6rem;
}

.boton {
  border-radius: 25px;
  background-color: var(--Pink);
  color: white;
  border: none;
  font-weight: bold;
  font-size: clamp(0.8rem, 2vw, 1rem);
  letter-spacing: 1px;
  cursor: pointer;
}

.boton:hover{
  background-color: var(--Light_Pink);
}
.boton-blanco:hover{
  background-color: transparent;
  color: var(--Light_Pink);
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
}

.curva, .curva_bt{
  position: relative;
  width: 100%;
}

.curva img{
  position: absolute;
  width: 100%;
  transform: translateY(-98%);
  top: 0;
  left: 0;
  height: 90px;
}


.curva_bt img{
  position: absolute;
  width: 100%;
  transform: translateY(100%);
  bottom: 0;
  left: 0;
  height: 90px;
}
